# Dependencies
node_modules/
package-lock.json

# Environment variables
.env
.env.local

# Logs
logs
*.log
npm-debug.log*

# IDE
.vscode/
.idea/

# Production build
dist/
build/

# Misc
.DS_Store
Thumbs.db
